<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ohanyan.handone.ar.handone_ar">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
